* {
    margin: 0;
    border: 0;  
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
}

footer img {
    width: 20%; 
    height: 12%; 
    object-fit: contain; 
}

.card-container {
    display: flex;
    justify-content: center;
}


